extends layout

block content
  section.container
    h1.lead What's happening
    form.form-horizontal
      .input-append
        input.input-xxlarge(type="text", placeholder="Say something...")
        button.btn.btn-primary(type="submit") Submit